<div class="auth-container" fxLayout="column" >

    <img class="logo" src="assets/images/addenda-logo.png"><br><br>

    <form [formGroup]="_mFormGroup" (ngSubmit)="_mOnSubmit()">
        <div fxLayout="column">
          <mat-form-field fxFlex>
            <input matInput formControlName="email" placeholder="Enter Email" type='email'>
          </mat-form-field>

          <mat-form-field fxFlex>
            <input matInput formControlName="password" placeholder="Enter password" type='password'>
          </mat-form-field>

          <div fxLayout="row">
              <button mat-raised-button color="primary" type="submit" [disabled]="!_mFormGroup.valid || _mInProgress" style="width: 100%">
                Login
              </button>
          </div>
        </div>
    </form>
    <br>
    <div *ngIf="_mInProgress">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>


</div>