$as-dark-primary: mat-palette($mat-grey, 700, 300, 900);
$as-dark-accent: mat-palette($mat-blue-grey, 400);
$as-dark-warn: mat-palette($mat-red, 500);

// $as-dark-theme: mat-dark-theme(
//   $as-dark-primary,
//   $as-dark-accent,
//   $as-dark-warn
// );

// custom background and foreground palettes
$my-dark-theme-background: (
  status-bar: #2A2E35,
  app-bar:    map_get($mat-blue, 900),
  background: #12181B,
  hover:      rgba(white, 0.04), 
  card:       #2A2E35,
  dialog:     map_get($mat-grey, 800),
  disabled-button: $white-12-opacity,
  raised-button: map-get($mat-grey, 800),
  focused-button: $white-6-opacity,
  selected-button: map_get($mat-grey, 900),
  selected-disabled-button: map_get($mat-grey, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($mat-grey, 700),
  disabled-list-option: black,
);

$my-dark-theme-foreground: (
  base:              white,
  divider:           $white-12-opacity,
  dividers:          $white-12-opacity,
  disabled:          rgba(white, 0.3),
  disabled-button:   rgba(white, 0.3),
  disabled-text:     rgba(white, 0.3),
  hint-text:         rgba(white, 0.3),
  secondary-text:    rgba(white, 0.7),
  icon:              white,
  icons:             white,
  text:              white,
  slider-min:        white,
  slider-off:        rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
);


@function create-theme($primary, $accent, $warn) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: $my-dark-theme-foreground,
    background: $my-dark-theme-background,
  );
}

$as-dark-theme: create-theme(
  $as-dark-primary,
  $as-dark-accent,
  $as-dark-warn
);
