/* You can add global styles to this file, and also import other style files */

@import './themes/styles-variables';
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

@include mat-core();

@import './themes/default-theme';
@import './themes/light-theme';
@import './themes/dark-theme';


@mixin global-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    & {
        background-color: mat-color($background, background);
        color: mat-color($foreground, text);
    }
    a {
        color: mat-color($foreground, text) !important;
    }
    .tweet-card {
        background-color: mat-color($background, card) !important;  
    }
    mat-icon, span {
        color: mat-color($foreground, icon) !important;
    }

    .menu-container {
        background-color: mat-color($background, status-bar) !important; 
    }
}

.default-theme {
    @include angular-material-theme($as-theme);
}

.light-theme {
    @include angular-material-theme($as-light-theme);
}

.dark-theme {
    @include angular-material-theme($as-dark-theme);
    @include global-theme($as-dark-theme);
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}